.conteiner li {
    color: grey;

    &:hover {
        color: blue;
    }
}


.singleservice span {
    color: white;
}

.listcolumn h2 {
    color: white;
}

.listcolumn a {
    color: rgb(197, 194, 194);
}

.followus span {
    color: rgb(63, 131, 255);
}