.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.itemList {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}

.content {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-wrap: wrap;
}



.serviceimage {

    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(0, 132, 255);
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.serviceimage img {
    width: 60px;
}

.jumbo {
    height: 350px;
    width: 100%;
}

.singleservice {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.footersection {
    width: 100%;
}

.footerlistpart {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-image: url(../assets/img/footer-bg.jpg);
    padding-top: 20px;
    padding-bottom: 20px;
    padding: 20px;

}

.listcolumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 10px;
}

.footerlastpart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.142);
    padding: 20px;

}

.followus {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.socialicon {
    display: flex;
    flex-direction: row;
    gap: 20px;
}